@settings {
    template: sna;
    theme: dark;
    showcase: [ "authority" > 0.01 ];
    element-scale: scale("authority", 0.5, 3);
    element-color: scale("authority", neon2);
    connection-strength: scale("strength", 0, 1);
    connection-size: scale("strength", 1, 20);
}

element{
  label-visibility: hidden;
  popover: title;
}